[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandoc-eqnos = "*"
panflute = "*"
pandoc-fignos = "*"
pandoc-xnos = "*"
pandoc-tablenos = "*"

[dev-packages]

[requires]
python_version = "3.6"
